.navcontainer {
  width: 100vw;

  align-items: center;

  background-color: #0e0e0e;
  color: #fff;
}

.navcontainer__content {
  max-width: 148vh;
  justify-content: space-between;
  display: flex;
  margin: auto;
  align-items: center;
}

.logout {
  padding: 0.7em 1em;
  border-radius: 4px;
  background-color: #d80000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login {
  padding: 0.7em 1em;
  border-radius: 4px;
  background-color: #ffffff;
  color: #0e0e0e;
  border: none;
  cursor: pointer;
}
